:root{
    --green:#BFACE2;
    --lilac:#655DBB;
    --light-lilac: #ECF2FF;
    --dark-blue:#3E54AC;
}


header {
    background-color: #BFACE2;
}
#timer {
    float:right;
    background-color: #BFACE2;
    width: 15%;
    height: 100px;
    margin-right: 18%;
    border-radius:  5px;
    border:2px solid #3E54AC;
}

#timer-sec{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin top:0;
    margin-bottom: 10%;
    text-align: center;
}
h2 {
    font-size:80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
  




.box {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 30%;
    Margin-left: 30%;
    border: 25px solid var(--lilac);
    justify-content: center;
    align-items: center;
    padding:40px;
    padding-bottom: 60pix;
    background-color: var(--dark-blue);
    border-radius: 5px;
    max-height:50%;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    text-align: center;
}
p{
    text-align: center;
    color: #ECF2FF;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#start-button {
    width:30%;
    height: 30%;
    font-size: 12px;
    display:flex;
    justify-content: center;
    /* text-align: center; */
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5em 1em;
    margin:0.25em;
    border-radius: 1em;
    border:none;
    outline: none;
    background-color:var(--green);
    color: var(--dark-blue);
    cursor:pointer;
} 

#q-textfooter{
    display: flex;
    justify-content: center;
    
}
#div {
    background-color: white;
}
    
#question-card {
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color:#ECF2FF;
    border-radius:5px;
    padding:10px;
    
    
}
#option_list {
    cursor:pointer;
    display: flex;
    flex-direction: column;
}
.option {
    background-color: #BFACE2;
}

#displayResult {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:coral;
    font-size: larger;
    font-weight: 900;


}
 

.hide {
    display:none;
}
span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#q-span {
    font-size: larger;
    font-weight: 600;
}

#gameOver {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color:#ECF2FF;
    border-radius:5px;
    padding:10px;
    display:none;
}
 
#yourScore {
    color:#3E54AC;
}
 h3  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
 }
 
 input[type=submit],
 form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3E54AC;
    margin:5px 0px;
 }


}